{% extends "layout.html" %}

{% block content %}
<h2>Monitorowane produkty</h2>

<a href="/add"> Dodaj produkt (Answear)</a><br>
<a href="/add_zalando"> Dodaj produkt (Zalando)</a><br><br>

<table>
    <tr>
        <th>Foto</th>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Rozmiary</th>
        <th>Statusy</th>
        <th>Sklep</th>
        <th>Akcje</th>
    </tr>

    {% for p in products %}
    <tr>
        <td>
            {% if p.image_url %}
                <img src="{{ p.image_url }}" width="80" style="border-radius:8px;">
            {% else %}
                Brak
            {% endif %}
        </td>

        <td>{{ p.product_id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.sizes }}</td>
        <td>{{ p.statuses }}</td>

        <td>
            {% if p.shop == "answear" %}
                 Answear
            {% elif p.shop == "zalando" %}
                 Zalando
            {% else %}
                 Unknown
            {% endif %}
        </td>

        <td>
            <a href="/edit/{{ p.id }}">✏ Edytuj</a>
            <form method="POST" action="/delete/{{ p.id }}" style="display:inline;">
                <button type="submit">🗑 Usuń</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="/">⬅ Powrót</a>
{% endblock %}
